
<table>
  <tr>
    <th>Object</th>
    <th>Body</th>
    <th>Machine</th>
  </tr>
  <% @emails.each do |email|%>
    <tr <%= (email.is_read? == true) ? "class=read" : "class=pas_lu"%> >
      <td><%= email.id %></td>
      <td><%= link_to email_path(email.id) do %>
          <%= email.object%>
          <% end %>
      </td>
      <td><%= email.body %></td>
      <% if current_user%>
      <td><%= link_to  email_path(email.id), method: :delete, class:'btn btn-danger', remote:true do%>
      <i class="far fa-trash-alt"></i>
            <% end %>

      </td>
      <% if email.is_read? == true %>
      <td><%= link_to  email_path(email.id), method: :patch, class:'btn btn-primary', remote:true do%>
      <i class="far fa-envelope-open"></i>
            <% end %>

       </td>
      <% else %>
      <td><%= link_to  email_path(email.id), method: :patch, class:'btn btn-primary', remote:true do %>
      <i class="far fa-envelope"></i>
      <% end %>

       </td>
      <% end %>
           <% end %>
    </tr>
  <% end %>
</table>
